html {
    background-color: rgb(34, 43, 58);
    color: white;
}

body {
    margin: 0;
    color: rgba(255, 255, 255, 0.724);
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    user-select: none;
    font-size: 14px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    height: calc(100vh - 36px);
}


ul {
    display: block;
    padding-left: 11px;
  }

  li {
    display: block;
    white-space: nowrap; 
    overflow: hidden;
  }

  li .tree-expander {
    color: rgba(255, 255, 255, 0.575);
    background-color: rgb(7, 49, 58);
    border-radius: 20%;
    min-width: 25px;
    text-align: center;
    height: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    display: inline-table;
    margin-right: 4px;
  }

  .tree-foldertext:hover {
    color: white;
    cursor: pointer;
  }

  .tree-foldertext {
    display: inline-table;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80px !important;

  }
   
  li .tree-expander.expanded {
    background-color: rgb(19, 89, 110);
  }

  li {
    display: inline-block;
  }

  li .tree-expander:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.575);
    background-color: rgb(40, 175, 190);
  }

  .filetree {
    padding: 0px;
  }

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #373c61;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5e69bd;
}

::-webkit-scrollbar-corner {
  background-color: rgba(255, 0, 0, 0);
}

.file-area {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    padding: 0px 2px 0px 15px;
    margin-top: 20px;
    text-align: left;
    max-height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: black rgb(203, 27, 27) !important;
    scrollbar-arrow-color: black;
}

.inspector {
    display: block;
    flex-basis: auto;
    align-self: auto;
    background-color: rgba(0, 0, 0, 0.356);
    order: 0;
    min-width: 280px;
}

.sidebar {
    display: block;
    flex-basis: auto;
    align-self: auto;
    background-color: rgba(0, 0, 0, 0.356);
    order: 0;
    min-width: 290px;
    width: 290px;
}



.hidden {
    display: none;
}


.file-area img {
}

.ext-max {
    border-color: blue;
}

.ext-jpg,

.ext-png {
    border-color: rgb(255, 145, 0);
}

.ext-exe {
    border-color: rgb(75, 121, 219);
}

.file-area p {
    text-align: left;
    margin: 0px;
}

.node-value {
    display: none !important;
}